:root {
  --pad: 15px;
  --radius: 30px;
}

.pokemon__card {
  border-radius: var(--radius);
  margin: auto;
  width: fit-content;
  padding-bottom: 15px;
}

.pokemon__view {
  padding-left: var(--pad);
  padding-right: var(--pad);
}

.pokemon__header-infos {
  align-items: center;
  color: #fff;
  display: flex;
  padding-bottom: var(--pad);
  justify-content: space-between;
}

.pokemon__types {
  display: flex;
  gap: 15px;
}

.pokemon__number {
  justify-self: end;
}

.pokemon__status {
  background-color: #fff;
  border-radius: var(--radius);
  margin-bottom: -20px;
  padding: var(--radius);
}

.pokemon__photo-wrapper {
  max-width: 100%;
  margin: auto;
  width: 250px;
}

.pokemon__base-infos {
  padding: 8px 0;
  display: grid;
  grid-template-columns: 35% 10% 55%;
  place-items: center;
}

.pokemon__status-name {
  margin-right: auto;
}